<%- include("partials/header"); -%>
    <!-- Comparison between other trading companies and our company -->
    <section class="compare section-bg">
        <div class="container section-title">
            <h2 data-aos="fade-in">Contact US form response</h2>
            <div class="table-responsive" data-aos="fade-up">
                <table class="table table-striped fa-check text-successtable-border border-light">
                    <thead class="border-light">
                        <tr>
                            <th scope="col"><strong>sr.no</strong></th>
                            <th scope="col"><strong>Name</strong></th>
                            <th scope="col"><strong>Email ID</strong></th>
                            <th scope="col"><strong>Subject</strong></th>
                            <th scope="col"><strong>Querry</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var count=1; %>
                            <% customers.forEach(function(customer){ %>
                                <tr>
                                    <td>
                                        <%= count++ %>
                                    </td>
                                    <td>
                                        <%=customer.name%>
                                    </td>
                                    <td>
                                        <%=customer.email%>
                                    </td>
                                    <td>
                                        <%=customer.subject%>
                                    </td>
                                    <td>
                                        <%=customer.message%>
                                    </td>
                                </tr>
                                <% }) %>

                    </tbody>
                </table>
            </div>
        </div>


    </section>
    <%- include("partials/footer"); -%>

    